*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cx-name{
    width: 100%;
    height: 40px;
    text-align: center;
    bottom: 26px;
    text-decoration: none;

}
.Sum-sec{
margin-top: 0px;

}
.Right{
    float: right;
    align-items: flex-end;
    padding: 35px 40px;
    margin-left: 34px;
}