*{
margin:0;
padding:0;
font-family:sans-serif;
}
body{
background:#ecf4fb;
}
.container{
width:80%;
margin:100px auto 50px;
display: grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
grid-gap:30px;
padding:30px;
}
.container img{
width:300px;
height:300px;
cursor:pointer;
border: 1px solid goldenrod;
padding: 20px;
border-radius: 50%;
}
.container img{}

